* {
  font-family: 'Dosis','Quicksand','Montserrat', sans-serif;
  font-size: 10px; }

.body__background-img {
  display: none; }

:root {
  --gray:#5B5B5B;
  --gray_dark:#4F4F4F;
  --purple:#7F7FD5;
  --background:#EFF3F9;
  --gray_light:#EBEBEB;
  --gray_light-medium:#979797; }

* {
  color: var(--black); }

:root {
  --black:#4F4F4F; }

h1:hover,
h2:hover,
h3:hover,
p:hover {
  cursor: default; }

a:hover {
  cursor: pointer; }

.container {
  display: flex;
  background: var(--background);
  width: 100%; }

.main {
  width: 92%;
  max-width: 1180px;
  margin: 50px auto 0; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1088px; }

.search {
  display: inline-flex;
  border: 1px solid var(--gray_light);
  border-radius: 8px;
  padding: 1rem 2rem;
  align-items: center;
  background: #FDFDFF;
  max-height: 32px;
  width: 153px; }

.search-icon {
  font-size: 1rem;
  margin-right: 10px;
  order: -1; }

.search-field {
  border: 0;
  max-height: 32px;
  width: 153px; }

.search-field:focus {
  outline: none; }

.input__search {
  border-radius: 8px;
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: var(--purple);
  letter-spacing: 0.15rem; }
  .input__search ::placeholder {
    font-size: 1.3rem;
    letter-spacing: 1rem;
    color: var(--gray); }

/*.input__search:focus-visible{

outline: 1px solid #adadad;
outline-style: auto;
}*/
.call {
  height: 22px; }

.header__right {
  width: 50%;
  max-width: 130px; }

.header__link-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none; }
  .header__link-profile i {
    font-size: 1rem; }

.header__tittle {
  font-weight: bold;
  font-size: 3rem; }

.header__name {
  font-size: 2rem;
  font-weight: 600; }

.header__left {
  width: 50%;
  display: flex;
  max-width: 370px;
  justify-content: space-between;
  align-items: center; }

.header__photo {
  max-width: 50px; }

.icon {
  color: var(--gray); }

.icon:hover {
  cursor: pointer;
  color: var(--purple);
  transition: linear 0.3s; }

/*content*/
.main__content {
  /* display: grid;
    grid-template: repeat(10, 100px)/ repeat(10, 100px);
    grid-gap: 3.2rem 3.2rem;*/
  display: flex;
  gap: 3.8rem;
  flex-wrap: wrap;
  max-width: 1088px;
  margin: 3.8rem auto 0; }

.content__item {
  background-color: white;
  display: inline-flex; }

/*item*/
.item__font-size-medium p,
.item__font-size-medium h3 {
  font-size: 2rem; }

.item {
  border-radius: 13px;
  border: 1px solid var(--gray_light);
  align-items: center; }

.item__title {
  font-weight: bold;
  font-size: initial;
  margin: 0; }

.fa-arrow-up {
  color: #7F7FD5; }

.fa-arrow-down {
  color: #E786D7; }

.item__text-black {
  color: var(--gray_dark); }

.item__text-gray {
  color: var(--gray_light-medium); }

.statistic__people {
  display: grid;
  row-gap: 3.7rem;
  grid-template: 1fr 1fr / 1fr 1fr;
  padding: 2.4rem;
  max-width: 341px;
  max-height: 148px;
  box-sizing: border-box;
  width: 30%;
  flex-grow: 1; }
  .statistic__people p {
    margin-bottom: 0;
    margin-top: 0; }

.item__settings {
  font-size: 2rem;
  margin: 0 0 0 auto;
  color: #979797; }

.statistic__persent {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto; }
  .statistic__persent i {
    font-size: 1.5rem; }

.statistic__persent :first-child {
  margin-right: 1rem; }

.item__calendar {
  display: flex;
  align-items: center; }

.item__calendar_down {
  color: #3A236A; }

.audience-reach {
  max-width: 768px;
  min-height: 242px;
  width: 70%; }
  .audience-reach .item__calendar_text,
  .audience-reach .item__input p {
    color: var(--gray_dark);
    font-size: 1.6rem;
    margin: 0 1rem 0 0;
    font-weight: 600; }
  .audience-reach .item__input {
    flex-wrap: wrap; }

.reach-by-device {
  flex-grow: 1; }

.flex_column {
  display: flex;
  flex-direction: column; }

.flex_row {
  display: flex; }

.geo {
  width: 35%; }

.gender-age {
  flex-grow: 1; }

.justify-content_space-between {
  justify-content: space-between; }

.item__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px; }

.item_padding {
  box-sizing: border-box;
  padding: 2.4rem; }

.audience-reach__header-right {
  width: 50%;
  max-width: 336px; }

.item__font-size-medium .explanation__text {
  font-size: 1.2rem; }

.explanation__square {
  background: #7F7FD5;
  border-radius: 5px;
  width: 1.6rem;
  height: 1.6rem; }

.explanation__square-light {
  background: #E786D7; }

.explanation__row {
  align-items: center; }

.reach-by-device__content {
  width: 100%; }

.explanation__square {
  margin-right: .9rem; }

.explanation__text_margin-right {
  margin-right: .9rem; }

.explanation__square:hover {
  opacity: 0.8;
  transition: linear 0.3s; }

.margin-0 {
  margin-top: 0;
  margin-bottom: 0; }

.geo__filter-link {
  text-decoration: none;
  font-size: 1.2rem; }

.geo__filter-link:hover {
  opacity: 0.8;
  transition: linear 0.3s; }

.geo__filter-link_active {
  color: var(--gray_dark);
  margin-right: 0.9rem; }

.progresses-bar__left label {
  color: var(--gray_dark); }

.progress {
  display: block;
  width: 100%; }

.progresses-bar {
  width: 100%; }

.navigation {
  height: 100vh;
  width: 8%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white; }
  .navigation i {
    color: #7f7fd5;
    font-size: 3.5rem;
    margin-top: 4.6rem; }

.navigation__list {
  list-style-type: none;
  padding-left: 0; }
  .navigation__list li:not(:last-child) {
    margin-bottom: 4rem; }

.tumbler {
  margin-bottom: 4.5rem; }

.tumbler :hover {
  cursor: pointer; }
