h1:hover,
h2:hover,
h3:hover,
p:hover{
    cursor:default;
}

a:hover
{
    cursor: pointer;
}


.container{
    display: flex;
    background: var(--background);
width: 100%;
}

.main{
width: 92%;
max-width:1180px ;
margin: 50px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1088px;
}

.search {
    display: inline-flex;
    border: 1px solid var(--gray_light);
    border-radius: 8px;
   padding: 1rem 2rem;
    align-items: center;
    background: #FDFDFF;
    max-height: 32px;
    width: 153px;
  }
  
  .search-icon {
   font-size: 1rem;
    margin-right: 10px;
    order: -1;
   
  }
  
  .search-field {
    border: 0; 
    max-height: 32px;
    width: 153px;
  }
  
  .search-field:focus {
    outline: none;
    
  }
  
  

 

.input__search{
    border-radius: 8px;
   font-size: 1.3rem;
   line-height: 1.3rem;
   color:var(--purple) ;
   
   letter-spacing: 0.15rem;
    ::placeholder{
        
    font-size: 1.3rem;
    letter-spacing: 1rem;
    
    color:var(--gray);
    
    }

    
}




/*.input__search:focus-visible{

outline: 1px solid #adadad;
outline-style: auto;
}*/


.call{
    height: 22px;
}

.header__right{
    width: 50%; 
    max-width:130px;

    
    }


    .header__link-profile{
        display: flex;
    justify-content: space-between;  
    align-items: center;
text-decoration: none;
        i{
            
            font-size: 1rem;
            
        }

    }

    .header__tittle{
        font-weight: bold;
        font-size: 3rem;
    }

.header__name{
    font-size: 2rem;
    font-weight: 600;

}
    .header__left{
        width: 50%;
        display: flex;
        max-width: 370px;
        justify-content: space-between;
        align-items: center;
    }

.header__photo{
    max-width:50px;
}



.icon {
    color: var(--gray);
}

.icon:hover{
cursor: pointer;
color:var(--purple);
transition: linear 0.3s;

}



/*content*/

.main__content{
    display: grid;
    grid-template-rows: .6fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 3.2rem;
    max-width:1088px;
    margin: 3.8rem auto;
}

.content__item{
    background-color: white;
    display: inline-flex;
}



/*item*/
.item__font-size-medium{
    h3,
    p
    {
    font-size: 2rem;
    }
}

.item{
    border-radius: 13px;
    border: 1px solid var(--gray_light);
    align-items: center;
}


.item__title{
    font-weight: bold;
font-size: initial;
margin: 0;
}

.fa-arrow-up{
    color:#7F7FD5;
}

.fa-arrow-down{
   color: #E786D7;
}

.item__text-black{
    color:var(--gray_dark);
}

.item__text-gray{
    color:var(--gray_light-medium);
}

.statistic__people{
    display: grid;
   row-gap: 3.7rem;
    grid-template: 1fr 1fr / 1fr 1fr;
   padding: 2.4rem;
   max-width:341px;
   max-height: 148px;
   box-sizing:border-box;


   p{
    margin-bottom: 0;
    margin-top: 0;
}




}



  .item__settings{
    font-size: 2rem;
    margin: 0 0 0 auto;
    color:#979797;
  }



.statistic__persent{
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;

    i{
        font-size: 1.5rem;
    }
}

.statistic__persent :first-child{
    margin-right: 1rem;
}

.item__calendar{
    display: flex;
    align-items: center;
}

.item__calendar_down{
        color:#3A236A;
}

.item__calendar_text{
    color:var(--gray_dark);
    font-size: 1.2rem;
    margin-right: 1rem;
}

